.certificates {
  padding-bottom: 40px;
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 2rem;

    .certificate {
      @include transition;
      display: flex;
      border: 2px solid $s-2-color;
      border-radius: 15px;
      span{
        display: flex
        ;
        flex-direction: column;
        padding: 10px;
      }
      &:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
}

      &_img {
        flex: 1;
        background-color: #444;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        @include display-center;
        img {
          width: 60%;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
        }
      }
      &_dics {
        flex: 3;
        padding: 25px;

        .title {
          color: $big-color;
          font-size: 0.9rem;
          font-weight: 600;
        }
        .id {
          color: #535353;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.3;
        }
        .date {
          color: #535353;
          font-size: 0.7rem;
          font-weight: 400;
          line-height: 0;
        }
      }
      @include media(400px){
        flex-direction: column;
        &_img{
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
}
      }
    }
  }
}
