.skills {
  padding-bottom: 20px;
  &-header {
    @include display-center($jc: space-between);
    span:nth-child(2) {
      font-size: smaller !important;
      font-weight: 400;
    }
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .skill {
      @include display-center($jc: space-around);
      width: 100%;
      margin-bottom: 15px;
      padding: 5px 10px;
      background-color: $s-3-color;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      &-name {
        flex: 1;
        font-size: 0.9rem;
        font-weight: 600;
        color: $small-color;
      }
      &-img {
        @include display-center;
        height: 40px;
        width: 40px;
        border-radius: 50px;
        overflow: hidden;
        margin-right: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $s-2-color;
        
      }
      &-count {
        font-size: 0.9rem;
        color: $big-color;
        width: 100px;
        height: 30px;
        @include display-center;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        //border: 3px solid $p-color;
        background-color: $s-2-color;
        transition:all .5s linear ;
        -webkit-transition:all .5s linear ;
        -moz-transition:all .5s linear ;
        -ms-transition:all .5s linear ;
        -o-transition:all .5s linear ;
}

      &:hover > .skill-count{
        background-color: $p-color;
      }
    }
  }
}
